/* You can add global styles to this file, and also import other style files */
/* styles.css */
:root {
  --primary-orange: #E8651E;
  --dark-bg: #1A1A1A;
  --header-dark: #2B2B2B;
  --text-light: #F5F5F5;
  --text-gray: #A0A0A0;   
  --orange: #c8602a;
  --orange-light: #e07a3a;
  --bg: #2a2a2a;
  --bg-card: #3a3a3a;
  --bg-product: #d0ccc4;
  --text: #e8e0d8;
  --text-muted: #a09890;
  --text-dark: #2a2020;
 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Substitua pela fonte exata do Figma */
}

body {
  background-color: var(--dark-bg);
  color: var(--text-light);
}